.Contacts {
    margin-bottom: 100px;
}

.contacts__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #070707;
    margin-bottom: 10px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contacts__form {
    flex-basis: 600px;
}

.form {
    margin-bottom: 10px;
    position: relative;
}

.form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CACAD6;
    padding: 22px 70px 22px 0;
}
.form__input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #CACAD6;
}

.form__btn {
    width: 50px;
    height: 50px;
    background: #CACAD6;
    text-transform: uppercase;
    font-weight: 700;
    color: #5c5c5e;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.contacts__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5C5C5E;
}

.contacts__email {
}
@media (max-width: 820px) {
    .contacts__inner{
        display: block;
    }
    .contacts__form{
        margin-bottom: 20px;
    }
}