
.footer{
    border-top: 1px solid #CACAD6;
    border-bottom: 1px solid #CACAD6;
    margin-bottom: 44px;
    padding: 30px 0;
}
.social {
    display: flex;
    gap: 20px;
    justify-self: end;
}

.social__item {
}

.social__link {
}
@media (max-width: 820px) {
    .social{
        order: -1;
        margin-bottom: 20px;
        gap: 30px;
    }
}
@media (max-width: 568px) {
    .social{
        order: -1;
        margin-bottom: 20px;
    }
}