.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.buy-btn{
    display: flex;
    padding: 0;
    text-transform: uppercase;
    padding: 1px;
    cursor: pointer;
    border: none;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
}
.buy-btn__text{
    padding: 20px 110px;
    color: #f6f4f5;
}
.buy-btn__price{
    background-color:#f6f4f5;
    padding: 20px 110px;
}
.section-title{
    text-transform: uppercase;
    font-weight: 400;
}
button{
    border: none;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}
@media (max-width: 768px) {

    .buy-btn {
        margin: 0 auto;
    }

    .buy-btn__text {
        padding: 20px 80px;
    }

    .buy-btn__price {
        padding: 20px 80px;
    }
}
@media (max-width: 568px) {
    .buy-btn {
        flex-direction: column;
    }

    .buy-btn__text {
        padding: 15px 110px;
    }

    .buy-btn__price {
        padding: 15px 110px;
    }
}
@media (max-width: 420px) {
    .buy-btn {
        flex-direction: column;
    }

    .buy-btn__text {
        padding: 15px 110px;
    }

    .buy-btn__price {
        padding: 15px 110px;
    }
}